/dist/
/do_test/
[.]gdb_history
/cm_build/
/cm_dist/
/ac_dist/
/doc_dist/
/doc1_dist/
/doc1_build/
*[.]swp
[.]DS_store
errs
junk
/nogit/
/timestamp/*[.]stamp
nogit*
*[.]exe
libmarpa-*[.]tar[.]gz
libmarpa_version[.]sh
api[.]pdf
