/dist/
/do_test/
.gdb_history
/cm_build/
/cm_dist/
/doc_dist/
/doc1_dist/
basic_test.out
full_test.out
rebuild.out
releng.out
single_test.out
*.swp
[.]DS_store
errs
junk
/nogit/
/timestamp/
nogit*
*.exe
libmarpa-*.tar.gz
